@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	/* COLORS */
	--primary: #27ae60;
	--transparentPrimray: rgba(227, 120, 75, 0.4);
	--DarkSpringGreen: #008066;
	--VividSpringGreen: #00ffa8;
	--LightGreen1: #16ff00;
	--LightGreen2: #b4ff9f;
	--LightGreen3: #00e676;
	--DarkGreen1: #095709;
	--DarkGreen2: #077807;
	--red: #ff1717;
	--darkRed: #8b0000;
	--blue: #0064c0;
	--darkBlue: #111a2c;
	--darkGray: #525c67;
	--darkGray2: #757d85;
	--gray: #898b9a;
	--gray2: #bbbdc1;
	--gray3: #cfd0d7;
	--lightGray1: #dddddd;
	--lightGray2: #f5f5f8;
	--white2: #fbfbfb;
	--white: #ffffff;
	--black: #000000;
	--grayGradient: linear-gradient(
		to bottom,
		#eaeaea,
		#aaaaaa,
		#6e6e6e,
		#373737,
		#000000
	);
	--grayGradient2: linear-gradient(
		to bottom,
		#bbbdc1,
		#8a8a8d,
		#5b5a5b,
		#2f2e2f,
		#000000
	);
	--grayGradientUp: linear-gradient(
		to top,
		#eaeaea,
		#aaaaaa,
		#6e6e6e,
		#373737,
		#000000
	);
	--greenGradient: linear-gradient(
		to top,
		#80ff95,
		#72f289,
		#65e57d,
		#57d872,
		#48cb66
	);
	--lightBuleGradient: radial-gradient(
		circle,
		#eaeaea,
		#dbe5f7,
		#b9e5ff,
		#8ae7fa,
		#64e8e0
	);
	/* TRANSPARENT COLORS */
	--transparent: transparent;
	--transparentBlack1: rgba(0, 0, 0, 0.1);
	--transparentBlack7: rgba(0, 0, 0, 0.7);
	--box-shadow: 0px 0px 12px rgb(255, 255, 255);
	--text-shadow: 0px 0px 8px rgb(255, 255, 255);

	/* Font Sizes */
	--smallFontSize: 0.75rem;
	--mediumFontSize: 1rem;
	--largeFontSize: 1.5rem;
	--extraLargeFontSize: 2rem;

	/* Font Weights */
	--regularFont: "Poppins Regular", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--regularFont);
	height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.page-container {
	height: 100vh;
}
